plugged/vim-zettel/


# : 表註解
# / 結尾：表目錄
# * : 表示匹配 0 或多個字元
# ? : 表示匹配 0 或 1 個字元
# [] : 表示匹配中括弧內的任一個字元
# ! : 則是用來表示追蹤特定文件，有可能在前面規則中過濾掉了某個資料夾，但該資料夾下某個文件卻是要追蹤的，就可以用 !
#
# =========================================
# 本文作者:辛西亞．Cynthia
# 本文連結:https://cynthiachuang.github.io/Set-Gitignore-File/
